<main class="container">
    <div class="content">
        <div class="login">
            <div class="form">
                <h3>Login</h3>
                    <div class="input-container">
                        <input placeholder="E-mail" class="input-field" type="text">
                        <label for="input-field" class="input-label">E-mail</label>
                        <span class="input-highlight"></span>
                    </div>
        
                    <div class="input-container">
                        <input placeholder="Senha" class="input-field" type="text">
                        <label for="input-field" class="input-label">Senha</label>
                        <span class="input-highlight"></span>
                    </div>
        
                </div>
                <button class="btn">Logar</button>
        </div>
        <div class="logo">
            <img src="src\assets\image\logo.png" alt="">
        </div>
    </div>
</main>

