main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
    // TELA DA CALCULADORA
    
.content{
    background-color: rgb(252, 252, 252);
    width: 70%;
    height: 90%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    border-radius: 15px;
    border: solid 1px black;
    box-shadow: 5px 15px 15px 0 rgba(0, 0, 0, 0.589);
}

.form{
  width: 100%;
  height: 450px;
  background-color: transparent;
  display: grid;
  grid-template-columns: 270px 270px;
  align-items: center;
  justify-items: center;
}

.box-left{
    background-color: transparent;
    width: 55%;
    height: 100%;
    display: grid;
    grid-template-rows: 550px 10px;
    align-items: center;
    justify-content: center;
    grid-area: box-left;
}

// INPUT

.coolinput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  max-width: 240px;
}

.coolinput input[type=text].input {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: none;
  border-radius: 5px;
  background: #e8e8e8;
}

.coolinput input[type=text].input:focus {
  outline: none;
}

.date{
  padding: 11px 25px;
  font-size: 0.75rem;
  border: none;
  border-radius: 5px;
  background: #e8e8e8;
}

.select{
  padding: 11px 70px;
  font-size: 0.75rem;
  border: none;
  border-radius: 5px;
  background: #e8e8e8;
}

// BUTTONS

.buttons{
  width: 100%;
  height: 50px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  padding: 20px;
  height: 45px;
  border: solid 1px transparent;
  color: white;
  background-color: transparent;
  border-radius: 10px;
  transition: 0.2s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 15px 15px 0 rgba(0, 0, 0, 0.589);
  cursor: pointer;
}

.btn:hover{
  transform: translateY(-3px) scale(1.1);
}

.group-text{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}
.group-icon{
  display: none;
}

@media (max-width: 1100px) {
  .form{
    grid-template-columns: 220px 220px;
}
}
@media (max-width: 950px) {
  .form{
    grid-template-columns: 200px 200px;
}
  .content{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
      "box-right"
      "box-left";
    grid-template-rows: 300px 350px;
    grid-template-columns: 600px;
        .box-right{
          width: 100%;
          text-align: center;
              .crimes{
                width: 100%;
              }
              .artigo{
                height: 100%;
                overflow-y: auto;
              }
              .lei{
                height: 50px;
                width: 90%;
                margin-left: 5%;
                margin-top: 3%;
              }
        }
        .box-left{
          grid-template-rows: 250px 80px;
          grid-template-columns: 550px;
          .form{
            height: 100%;
            display: grid;
            grid-template-columns: 181px 181px 181px;
            grid-template-rows: 80px 80px 80px;
          }
        }
      }
  .agravante{
    
  }
}
@media (max-width: 850px) {
  .form{
    grid-template-columns: 180px 180px;
}
}
@media (max-width: 750px) {
  .form{
    display: block;
    justify-content: center;
    align-items: center;
  }
  .group-text{
    display: none;
  }
  .group-icon{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
  }
}

.box-right{
  background-color: transparent;
  width: 40%; 
  height: 95%;
  display: grid;
  grid-template-rows: 60px;
  grid-template-columns: 100%;
  justify-items: center;
  justify-content: center;
  align-items: center;
  grid-area: box-right;
}

.artigo{
  width: 100%;
  height: 90%;
  background-color: rgb(218, 218, 218);
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 15px 15px 0 rgba(0, 0, 0, 0.452);
}

.crimes{
  font-weight: 300;
  font-size: x-large;
}

.lei{
  width: 90%;
  height: 8%;
  background-color: rgb(145, 145, 145);
  border-radius: 5px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 5%;
  margin-left: 5%;

  .arrow-icon{
    width: 30px;
    transform: rotate(90deg);
    transition: 500ms;
  }
    .arrow-icon-close{
        width: 30px;
        transform: rotate(-90deg);
        transition: 500ms;
    }
}

.btn-img{
  background-color: transparent;
  border: none;
}

.agravante{
  display: flex;
  justify-content: center;
  align-items: center;
 

    .descricao-select{
      width: 80%;
      height: 100px;
      background-color: #D9D9D9;
      border-radius: 0px 0px 15px 15px;
      box-shadow: 0px 0px 10px 1px black inset;
      display: flex;
      justify-content: center;
      align-items: center;
      

      .group-modal{
          padding: 10px;
          text-align: start;
      }
    }
      .descricao-select-close{
          display: none;
          transition: 300ms;
      }
}
