main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
    // TELA DA CALCULADORA
    
.content{
    background-color: yellow;
    width: 80%;
    height: 90%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.box-right{
    background-color: red;
    width: 55%;
    height: 80%;
    display: grid;
    grid-template-rows: 550px;
    align-items: center;
    justify-content: center;
}

.form{
    height: 90%;
    display: grid;
    grid-template-columns: 250px 250px;
    justify-content: center;
    align-items: center;
}

.artigo{
    background-color: aqua;
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

// INPUT

.coolinput {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    max-width: 240px;
  }
  
  .coolinput label.text {
    font-size: 0.75rem;
    color: #818CF8;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #e8e8e8;
    width: fit-content;
  }
  
  .coolinput input[type=text].input {
    padding: 11px 20px;
    font-size: 0.75rem;
    border: 2px #818CF8 solid;
    border-radius: 5px;
    background: #e8e8e8;
  }
  
  .coolinput input[type=text].input:focus {
    outline: none;
  }

//    BOTÃO
   .buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20%;
   }

   .btn{
    width: 100px;
    height: 30px;
    border: solid 1px rgb(255, 255, 255);
    color: #e8e8e8;
    background-color: transparent;
    border-radius: 10px;
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .btn:hover{
    transform: translateY(-3px) scale(1.1);
   }


   // RESPONSIVIDADE 

   @media (max-width: 900px) {

   }